.footer-container {
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #4A90E2;
  color: #fafafa;
  text-align: center;
  padding: 10px 0;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  z-index: 1000;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.footer-left {
  display: flex;
  flex-direction: column;
}

.footer-logo {
  text-decoration: none;
  color: #fff;
  display: flex;
  align-items: center;
}

.footer-logo-img {
  height: 30px;
  margin-right: 10px;
}

.footer-title {
  font-size: 1rem;
  font-weight: bold;
}

.footer-left p {
  font-size: 14px;
  color: #ffffff;
}

.footer-right {
  text-align: center;
}

.footer-icons {
  display: flex;
  gap: 10px;
}

.footer-icons a img {
  width: 30px;
  height: 30px;
  transition: transform 0.2s;
}

.footer-icons a img:hover {
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    text-align: center;
  }

  .footer-left {
    margin-bottom: 10px;
  }
}