/* Main container */
.main-container {
  min-height: 100vh;
  /* Se asegura que el contenido ocupe al menos la altura completa */
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-sizing: border-box;
  gap: 20px;
  padding-top: 100px;
}

/* Carrusel de categorías */
.category-carousel {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.category-carousel h2 {
  margin-bottom: 10px;
}

.carousel {
  display: flex;
  justify-content: center;
  gap: 200px;
  overflow-x: auto;
  padding-bottom: 10px;
}

.carousel-item {
  flex: 0 0 auto;
  width: 200px;
  text-align: center;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.carousel-item img {
  width: 100%;
  border-radius: 8px;
}

.carousel-item p {
  margin-top: 8px;
  font-size: 14px;
  color: #333;
}


/* Estilos responsivos */
@media (max-width: 768px) {
  .carousel-item {
    width: 150px;
  }
}

@media (max-width: 480px) {
  .carousel-item {
    width: 120px;
  }

  .carousel-item p {
    font-size: 12px;
  }
}