.admin-categories-container {
  padding: 20px;
  font-family: Arial, sans-serif;
}

.admin-categories-title {
  font-size: 2em;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 100px;
}

.categories-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  padding: 0;
}

.category-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f9f9f9;
  margin: 20px;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 40%;
}

.category-name {
  font-size: 1.5em;
  margin: 0;
}

.category-description {
  font-size: 1.1em;
  color: #555;
  margin: 10px 0;
}

.delete-button {
  background-color: #f44336;
  color: white;
  border: none;
  margin-top: 30px;
  margin-bottom: 0;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.delete-button:hover {
  background-color: #d32f2f;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  width: 400px;
}

.modal-title {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
}

.modal-confirm-button,
.modal-cancel-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
}

.modal-confirm-button {
  background-color: #4CAF50;
  color: white;
  margin: 10px;
}

.modal-confirm-button:hover {
  background-color: #388E3C;
}

.modal-cancel-button {
  background-color: #f44336;
  color: white;
  margin: 10px;
}

.modal-cancel-button:hover {
  background-color: #d32f2f;
}